<h2 mat-dialog-title>Cadastro de Endereço</h2>

<mat-dialog-content [formGroup]="enderecoForm">
  <mat-form-field appearance="outline" class="zipeCode-field">
    <mat-label>C.E.P.</mat-label>
    <input
      matInput
      type="text"
      (blur)="focusOutFunction()"
      formControlName="zipCode"
    />    
    <mat-error *ngIf="enderecoForm.get('zipCode')?.invalid">{{ zipCodeError }}</mat-error>    
  </mat-form-field>

  <mat-form-field appearance="outline" class="street-field">
    <mat-label>Rua</mat-label>
    <input matInput type="text" formControlName="street"  />    
    <mat-error *ngIf="enderecoForm.get('street')?.invalid">{{ streetError }}</mat-error>    
  </mat-form-field>

  <mat-form-field appearance="outline" class="number-field">
    <mat-label>Número</mat-label>
    <input matInput type="text" formControlName="number" />    
    <mat-error *ngIf="enderecoForm.get('number')?.invalid">{{ numberError }}</mat-error>    
  </mat-form-field>

  <mat-form-field appearance="outline" class="district-field">
    <mat-label>Bairro</mat-label>
    <input matInput type="text" formControlName="district" />   
    <mat-error *ngIf="enderecoForm.get('district')?.invalid">{{ districtError }}</mat-error>   
  </mat-form-field>

  <mat-form-field appearance="outline" class="city-field">
    <mat-label>Cidade</mat-label>
    <input matInput type="text" formControlName="city" />    
    <mat-error *ngIf="enderecoForm.get('city')?.invalid">{{ cityError }}</mat-error>    
  </mat-form-field>

  <mat-form-field appearance="outline" class="state-field">
    <mat-label>Estado</mat-label>
    <input matInput type="text" formControlName="state" />    
    <mat-error *ngIf="enderecoForm.get('state')?.invalid">{{ stateError }}</mat-error>    
  </mat-form-field>

  <mat-form-field appearance="outline" class="description-field">
    <mat-label>Observação</mat-label>
    <textarea matInput type="text" formControlName="description"></textarea>    
    <mat-error *ngIf="enderecoForm.get('description')?.invalid">{{ descriptionError }}</mat-error>    
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button
    mat-raised-button
    color="primary"
    class="mat-raised-button"
    (click)="saveOnClick()"
  >
    Salvar
  </button>
  <button
    mat-raised-button
    color="warn"
    class="mat-raised-button"
    [mat-dialog-close]="false"
  >
    Cancelar
  </button>
</mat-dialog-actions>
