<h2 mat-dialog-title>Adicionar novo produto</h2>

<mat-dialog-content class="content">
  
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Lista de produtos disponiveis</mat-label>
      <input matInput type="text" placeholder="Lista de Produtos" formControlName="searchControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProdutoEmEstoqueSelecionado($event)">
        <mat-option *ngFor="let option of filterOptionsList | async" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>  

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Quantidade disponivel</mat-label>
    <input [(ngModel)]="quantidadeValue" #quantidadeInput name="quantidadeEmEstoqe" matInput type="text" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Quantidade Desejada</mat-label>
    <input [(ngModel)]="desejadoValue" #desejadoInput name="quantidadeDesejada" matInput type="number" [min]="0" (change)="onQuantityChange()"/>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" class="mat-raised-button" (click)="salvar()">
    Salvar
  </button>
  <button mat-raised-button color="warn" class="mat-raised-button" (click)="close()">
    Cancelar
  </button>
</mat-dialog-actions>