<div class="content">
  <div class="title">
    <h1>Orcamento</h1>
  </div>  

  <div class="content-cards">

    <div>
      <mat-card class="card-cliente">
        <mat-card-header class="cards-header">
          <mat-card-title>Dados do Cliente</mat-card-title>
          <mat-card-actions>
            <button mat-fab color="primary" matTooltip="Editar dados do cliente." [matTooltipShowDelay]="500"
              aria-label="Este botão abre um card para editar dados do cliente"
              (click)="openEditClienteDialog()"><mat-icon>edit</mat-icon></button>
          </mat-card-actions>
        </mat-card-header>
        <mat-card-content class="dadosDoCliente" style="margin-top: 20px;">
          <mat-form-field appearance="outline" class="inputform">
            <mat-label>Nome do Cliente</mat-label>
            <input matInput type="text" name="name" placeholder="Nome" [(ngModel)]="orcamento.cliente!.name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="inputform">
            <mat-label>Observações sobre o Cliente</mat-label>
            <textarea matInput type="text" name="obs" placeholder="Observações" [(ngModel)]="orcamento.cliente!.obs"></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="card-produtos" >
      <mat-card-header class="cards-header">
        <mat-card-title>Lista de Produtos</mat-card-title>
        <mat-card-actions>
          <button mat-fab color="accent" (click)="openAddAddressDialog()" matTooltip="Adicionar novo produto."
            [matTooltipShowDelay]="500"
            aria-label="Este botão abre um card para adicionar novo produto ao orçamento"><mat-icon>add</mat-icon></button>
        </mat-card-actions>
      </mat-card-header>      
        <app-endereco-card [endereco]="orcamento.endereco!" class="card-endereco"></app-endereco-card>
    </mat-card>

    <mat-card class="card-endereco" >
      <mat-card-header class="cards-header">
        <mat-card-title>Endereço de Entrega</mat-card-title>
        <mat-card-actions>
          <button mat-fab color="accent" (click)="openAddAddressDialog()" matTooltip="Adicionar novo endereço."
            [matTooltipShowDelay]="500"
            aria-label="Este botão abre um card para adicionar novo endereço ao cliente"><mat-icon>add</mat-icon></button>
        </mat-card-actions>
      </mat-card-header>      
        <app-endereco-card [endereco]="orcamento.endereco!" style="margin: 15px;"></app-endereco-card>
    </mat-card>

  </div>
</div>