<mat-toolbar class="mat-elevation-z3">
  <div class="header" routerLink="/home">
    <img class="logo" src="assets/img/mobilia.png" />
    <h1 class="logo-text">SISGEM</h1>
  </div>

  <div class="cart-info">
    <div class="search-container">
      <mat-form-field appearance="outline" class="input-search">
        <mat-label>Pesquisar por produto</mat-label>
        <input matInput name="filtrarPorNome" placeholder="Informe o nome" />
      </mat-form-field>
    </div>

    <div class="interval-date-container">
      <mat-form-field appearance="outline" class="input-interval-date">
        <mat-label>Data do Evento</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            [value]="cartInitialDate$ | async"
          />
          <input
            matEndDate
            formControlName="end"
            [value]="cartFinalDate$ | async"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancelar</button>
            <button
              mat-raised-button
              color="primary"
              matDateRangePickerApply
              (click)="onDateRangeChange()"
            >
              Aplicar
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <div class="account-info">
    <img
      [matMenuTriggerFor]="menu"
      class="avatar-icon"
      src=""
      onerror="this.src='assets/img/user-avatar.svg'"
    />

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>Minha Conta</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/home/history">Meus Pedidos</button>
    </mat-menu>

    <div
      class="cart-container"
      matBadge="{{ cartCount$ | async }}"
      matBadgePosition="before"
      matBadgeColor="accent"
    >
      <img
        class="cart-icon"
        src="assets/img/shopping-bags.svg"
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      />
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z3" position="end">
    <div class="cart-header">
      <h1>Meu Carrinho</h1>
      <button mat-flat-button color="warn" class="finalizer-button" routerLink="cart">
        Finalizar
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="cart-list">
      <div fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="25%" *ngFor="let item of cartItens$ | async">
          <app-cart-item-card [cartitem]="item"></app-cart-item-card>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="cart-footer">
      <h1>Total: {{ (cartTotalPrice$ | async)  | currency : 'BRL'}}  </h1>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
