
<div class="content">
    <div class="title">
      <h1>Produtos</h1>
    </div>

    


    <div class="content">

        <div class="title">
            <h1>
                <button style="color: black;"  a routerLink="/cadastroprodutos" style="color: black;">
                        
                    
                    Cadastro de produtos
                </button>
    
                
            </h1>
    
        </div>
    
    </div>

<label>
<div class="container search-table">
<div class="search-box">
<div class="row">
<div class="col-md-9">
<input 
type="text"
id="myInput"
class="form-control"
placeholder="Pesquisar produtos"
/>
</div>
</div>
</div>
</div>

<div>
    <button mat-button class="form-control" mat-raised-button color="primary">Pesquisar</button>
  </div>

</label>

    