@use "@angular/material" as mat;

@include mat.fab-density(-5);
@include mat.icon-density(-5);

.inputform {
  width: 100%;
}

.content-cards {
  display: grid;
  grid-template-areas:
    "detail   contact  address"
    "security contact  address";
  gap: 2rem;
}

mat-card {
  background-color: rgb(240, 240, 240);
}

.user-card {
  grid-area: detail;
}

.address-card {
  grid-area: address;
}

.security-card {
  grid-area: security;
}

.contact-card{
    grid-area: contact;
}

.cards-header {
  display: flex;
  justify-content: space-between;
}

.address-list {
  padding-bottom: 10px;
  overflow: auto;
  margin-left: 10px;
  margin-right: 10px;
}