<mat-toolbar class="mat-elevation-z3">  

  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <div class="header">    
    <img class="logo" src="assets/img/mobilia.jpg" />    
    <h1>SISGEM - Sistema de Gestão de Estoque de Mobiliários</h1>
  </div>   

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z3">
    <img
      class="avatar mat-elevation-z3"
      src="" onerror="this.src='assets/img/user_avatar.png'"/>

      <!-- <h4 class="name">{{authService.UserData.displayName ?? 'null'}}</h4>
      <p class="designation">{{authService.UserData.email ?? 'null'}}</p> -->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" (click)="authService.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    
    <mat-divider></mat-divider>    

    <button mat-button class="menu-button" (click)="cliente()">
      <mat-icon>people</mat-icon>
      <span>Clientes</span>
    </button>

    <button mat-button class="menu-button" (click)="produto()">
      <mat-icon>shopping_bag</mat-icon>
      <span>Produtos</span>
    </button>

    <button mat-button class="menu-button" (click)="orcamento()">
      <mat-icon>shopping_cart_checkout</mat-icon>
      <span>Orçamentos</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
