<h2 mat-dialog-title>Cadastro de Cliente</h2>

<mat-dialog-content>
  <form [formGroup]="userForm">
    <table class="content">
      <tr>
        <mat-form-field appearance="outline" style="width: 95%">
          <mat-label>Nome</mat-label>
          <input type="text" formControlName="name"             
            matInput            
          />
          <mat-error *ngIf="userForm.get('name')?.invalid"></mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field appearance="outline" style="width: 95%">
          <mat-label>Observação</mat-label>
          <textarea formControlName="obs"             
            matInput
            type="text"
          ></textarea>
        </mat-form-field>
      </tr>
    </table>
  </form>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button
    mat-raised-button
    color="primary"
    class="mat-raised-button"
    (click)="salvar()"
  >
    Salvar
  </button>
  <button
    mat-raised-button
    color="warn"
    class="mat-raised-button"
    [mat-dialog-close]="false"
  >
    Cancelar
  </button>
</mat-dialog-actions>
