<div class="content">
  <div class="title">
    <h1>Cadastro de Produtos</h1>
  </div>

  <div class="content-cards">
    <div style="width: 50%;">
      <mat-card class="card-produto">

        <mat-card-header class="cards-header">
          <mat-card-title>Dados do produto</mat-card-title>
          <mat-card-actions>
            <button mat-fab color="primary" matTooltip="Editar dados do produto." [matTooltipShowDelay]="500"
              aria-label="Este botão abre um popUp para editar dados do produto"
              (click)="openEditClienteDialog()"><mat-icon>edit</mat-icon></button>
          </mat-card-actions>
        </mat-card-header>

        <mat-card-content class="dadosDoProduto" style="margin-top: 20px;">
          <mat-form-field appearance="outline" class="inputform" >
            <mat-label>Nome do Produto</mat-label>
            <input matInput type="text" name="name" placeholder="Nome" [value]="(currentProduct$ | async)?.name">
          </mat-form-field>

          <div style="display: flex; justify-content: space-between;">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Preço do Produto</mat-label>
              <input matInput type="number" name="preco" placeholder="preco" [value]="(currentProduct$ | async)?.price" >
              <span matTextPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Quantidade em Estoque</mat-label>
              <input matInput type="number" name="name" placeholder="Estoque" [value]="(currentProduct$ | async)?.stock" >
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="inputform">
            <mat-label>Observações sobre o Produto</mat-label>
            <textarea matInput type="text" name="obs" placeholder="Observações"
            [value]="(currentProduct$ | async)?.description" ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>