<h1 mat-dialog-title>Login</h1>

<mat-dialog-content>
    <form>
        <table class="content">
            <tr>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" #userName required>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" #userPassword required>
                </mat-form-field>
            </tr>
            <div class="router-page">
                <p>Esqueceu a senha?
                    <a routerLink="/forgot-password" class="link-danger">Enviar Email </a>
                </p>
                <p>Não tem uma conta?
                    <a routerLink="/register-user" class="link-danger">Registre</a>
                </p>

            </div>
        </table>
        <div style="align-self: center; display: flex; justify-content: center;">
            <button mat-button (click)="Login(userName.value, userPassword.value)" mat-raised-button color="accent">
                Login
            </button>
        </div>
        <h3 style="align-self: center; display: flex; justify-content: center; margin: 10px;">OU</h3>
        <p style="align-self: center; display: flex; justify-content: center;">Faça login com as redes sociais</p>

        <div
            style="align-self: center; display: flex; justify-content: center; margin: 10px; justify-content: space-evenly;">
            <button mat-fab color="basic" matTooltip="Login com o google." [matTooltipShowDelay]="500"
                aria-label="Fazer login usando sua conta do google"><fa-icon [icon]="faCoffee"></fa-icon></button>

            <button mat-fab color="basic" matTooltip="Login com o FaceBook." [matTooltipShowDelay]="500"
                aria-label="Fazer login usando sua conta do FaceBook"><fa-icon [icon]="faCoffee"></fa-icon></button>

            <button mat-fab color="basic" matTooltip="Login com o X." [matTooltipShowDelay]="500"
                aria-label="Fazer login usando sua conta da rede social X"><fa-icon
                    [icon]="faCoffee"></fa-icon></button>
        </div>
    </form>
</mat-dialog-content>