@use "@angular/material" as mat;

@include mat.icon-button-density(-3);
@include mat.icon-density(-3);

mat-card{
    background-color: rgb(238, 231, 231);
}

mat-card-actions{
    margin-top: -15px;
    margin-right: -15px;
}

.inputform {
    width: 100%;
}

.content-cards {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 40% 60%;    
    gap: 20px;
}

.card-produtos{    
    grid-column: 2/3;
    grid-row: 1/3;
}

.cards-header {
    display: flex;
    justify-content: space-between;
}