@use "@angular/material" as mat;

mat-toolbar {
  background: #355070;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 2.5rem;
  border-radius: 50%;
}

.logo-text {
  color: #a98223;
  font-family: helvetica;
  margin-left: -15px;
}

.cart-icon {
  height: 2.3rem;
  margin-right: 25px;
  filter: invert(75%) sepia(25%) saturate(338%) hue-rotate(9deg) brightness(93%)
    contrast(88%);
}

.cart-container {
  margin-top: 15px;
}

::ng-deep .cart-info {  
  /* Change the border color */
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: #c0b48c !important;
  }

  /* Change the border width */
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-width: 1.5px !important;
  }

  /* Change the border focused color */
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: var(--color-primary) !important;
  }

  /* Change the border hover color */
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
      .mdc-text-field--focused
    ):hover
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--color-primary) !important;
  }
}

::ng-deep .cart-info {
  @include mat.form-field-density(-4);
  @include mat.icon-button-density(-5);
  @include mat.datepicker-density(-5);
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  width: 70%;
}

.avatar-icon {
  margin-right: 35px;
  width: 3rem;
  filter: invert(75%) sepia(25%) saturate(338%) hue-rotate(9deg) brightness(93%)
    contrast(88%);
}

.account-info {
  display: flex;
  align-items: center;
}

.interval-date-container {
  margin: 20px;
  width: 30%;
}

.search-container {
  width: 70%;
  margin: 20px;
}

.input-interval-date {
  width: 100%;
}

.input-search {
  width: 100%;  
}

.cart-footer {
  text-align: left;
  margin-top: -10px;
}

.finalizer-button {
  font-size: large;
  margin-right: 3%;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 6px;
  overflow-y: scroll;
  background: rgb(204, 197, 197);
}

::-webkit-scrollbar-thumb {
  background: rgba(62, 62, 63, 0.493);
  border-radius: 10px;
}

mat-sidenav {
  margin: 16px;
  width: 450px;
  border-right: none;
  background: #8c949e;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.cart-list {
  height: calc(100vh - 268px);
  padding-right: 10px;
  overflow: auto;
}

.content {
  height: calc(100vh - 140px);
  border-radius: 10px;
  margin: 16px;
  padding: 16px;
  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 2rem;
  padding-left: 1.5rem;
}
