@use '@angular/material' as mat;

mat-toolbar {
  background: rgb(122, 122, 133);
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 2.5rem;
  border-radius: 50%;
}

.cart-icon {
  height: 2rem;  
  margin-right: 25px;  
}

.cart-container{
  margin-top: 15px;
}

::ng-deep .cart-info {
  @include mat.form-field-density(-4);
  @include mat.icon-button-density(-5);
  @include mat.datepicker-density(-5);
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  width: 70%;
}

.avatar-icon {
  margin-right: 35px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.account-info {
  display: flex;
  align-items: center;
}

.interval-date-container {  
  margin: 20px;
  width: 30%;
}

.search-container {
  width: 70%;
  margin: 20px;
}

.input-interval-date {
  width: 100%;  
}

.input-search {
  width: 100%;
}

.cart-footer{  
  text-align: left;
  margin-top: -10px;
}

.finalizer-button{
  font-size: large;
  margin-right: 3%;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 6px;
  overflow-y: scroll;
  background: rgb(204, 197, 197);  
}

::-webkit-scrollbar-thumb {
  background: rgba(62, 62, 63, 0.493);
  border-radius: 10px;
}

mat-sidenav {
  margin: 16px;
  width: 450px;
  border-right: none;
  background: #8c949e;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;  
}

.cart-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.cart-list{
  height: calc(100vh - 268px);
  padding-right: 10px;
  overflow: auto;  
}

.content {
  height: calc(100vh - 140px);
  border-radius: 10px;
  margin: 16px;  
  padding: 16px;
  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 2rem;
  padding-left: 1.5rem;
}
