<mat-sidenav-container class="conteiner">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">menu</i>
                Menu1
            </a>
            <a mat-list-item>
                <i class="material-icons">menu</i>
                Menu2
            </a>
            <a mat-list-item>
                <i class="material-icons">menu</i>
                Menu3
            </a>
            <a mat-list-item>
                <i class="material-icons">menu</i>
                Menu4
            </a>
        </mat-nav-list>
    </mat-sidenav>

<mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-content>

</mat-sidenav-container>