

<div class="content">
    <div class="title">
      <h1>Clientes</h1>
    </div>
<br>
    <div class="content">

        <div class="title">
            <h2>
                <button mat-button class="find-date-button" a routerLink="/cadastroclientes" mat-raised-button color="primary">Cadastro de clientes</button>
                <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR </button>     
            </h2>
    
        </div>
    
    </div>

<label>

<mat-form-field class="form">
    <mat-label>Pesquisa de Cliente</mat-label>
     <input matInput name="Estoque do produto" placeholder="Informe o nome para pesquisar">
</mat-form-field>

<!--
      
<div class="container search-table">
<div class="search-box">
<div class="row">
<div class="col-md-9">
    <input 
        type="text"
        id="myInput"
        class="form-control"
        placeholder="Pesquisar produtos"
    />
</div>
</div>
</div>
</div>
-->

<div>
    <button mat-button class="form-control" mat-raised-button color="primary">Pesquisar</button>
</div>

</label>