<div class="content">
    <div class="title">
        <h1>Clientes</h1>
    </div>
    
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" placeholder="Insira o Nome">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Endereco</mat-label>
        <input matInput type="text" name="Endereço" placeholder="Informe o Endereço">
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button color="primary">GRAVAR </button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR </button>
    </div>
    
</div>
