<div class="content">
    <div class="title">
      <h1>Cadastro de Produtos</h1>
    </div>
    
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" placeholder="Insira o Nome">
    </mat-form-field>
    <br>

    <mat-form-field class="form">
        <mat-label>Descrição do produto</mat-label>
        <input matInput type="text" name="Descrição do produto" placeholder="Descreva o Produto">
    </mat-form-field>

<br>

    <mat-form-field class="form">
        <mat-label>Estoque do produto</mat-label>
        <input matInput type="number" name="Estoque do produto" placeholder="Quantidade de Produto">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Valor do produto</mat-label>
        <input matInput type="number" name="Valor do produto" placeholder="Valor do produto" onkeypress="$">
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button color="primary">SALVAR </button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR </button>
    </div>
    
</div>