mat-card{
    background-color: rgb(238, 231, 231);
}

.inputform {
    width: 100%;
}

.content-cards{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 40% 60%;    
    gap: 20px;
}

.card-produtos{    
    grid-column: 2/3;
    grid-row: 1/3;
}