<mat-card class="cardEndereco">

  <mat-card-header class="cards-header">

    <mat-card-title
      >{{ address.street }} - Nº: {{ address.number }}</mat-card-title
    >

    <button class="actions-button"*ngIf="editable"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Ações do cadastro de endereço"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-card-header>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editAddress()">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="deleteAddress()">
      <mat-icon>delete</mat-icon>
      <span>Excluir</span>
    </button>
  </mat-menu>

  <mat-card-content>    
    <p>
      <b>Bairro: </b> {{ address.district }} <b>- Cidade: </b>
      {{ address.city }} <b>- UF: </b>{{ address.state }}
    </p>
    <p><b>Observações: </b> {{ address.description }}</p>
  </mat-card-content>
</mat-card>
