@use "@angular/material" as mat;

@include mat.icon-button-density(-3);
@include mat.icon-density(-3);

.actions-button{
    margin-top: -5px;
    margin-right: -5px;
}

.cardEndereco {
    display: flex;
}

.cards-header {
    display: flex;
    justify-content: space-between;
  }