<h2 mat-dialog-title>Cadastro de Endereço</h2>

<mat-dialog-content >
    <table class="content" cellspacing="0" style="width: 90%;">
        <tr>
            <mat-form-field appearance="outline">
                <mat-label>C.E.P.</mat-label>
                <input matInput type="text" [(ngModel)]="endereco.zipCode" (blur)="focusOutFunction()">
            </mat-form-field>
        </tr>
        <tr style="display: flex">
            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Rua</mat-label>
                <input matInput type="text" [(ngModel)]="endereco.street">
            </mat-form-field>
            <mat-form-field appearance="outline" style="flex-grow: 1;">
                <mat-label>Número</mat-label>
                <input matInput type="text" [(ngModel)]="endereco.number">
            </mat-form-field>
        </tr>
        <tr style="display: flex">
            <mat-form-field appearance="outline" style="width: 60%;">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" [(ngModel)]="endereco.district">
            </mat-form-field>
            <mat-form-field appearance="outline" style="flex-grow: 1;">
                <mat-label>Cidade</mat-label>
                <input matInput type="text" [(ngModel)]="endereco.city">
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput type="text" [(ngModel)]="endereco.state">
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Observação</mat-label>
                <textarea matInput type="text" [(ngModel)]="endereco.description"></textarea>
            </mat-form-field>
        </tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" class="mat-raised-button" (click)="salvar()">Salvar</button>
    <button mat-raised-button color="warn" class="mat-raised-button" (click)="close()">Cancelar</button>
</mat-dialog-actions>