.grid-container {
  display: grid;
  grid-template-areas:
    "img header header header header header"
    "img main main main main main"
    "img main main main main main"    
    "img footer footer footer footer btn ";
}

.cart-image {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

.cart-image-container {
  grid-area: img;
  height: 95px;
  width: 95px;
  background-color: #c2cad6;
  margin: 10%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
}

mat-card {
  color: black;
  border-radius: 20px;
}

.cart-item-amount-info {
    font-weight: bold;
    grid-area: footer;
}

.cart-item-description {
  grid-area: main;
}

.action-button{
    grid-area: btn;
    margin-right: -1rem;
    margin-bottom: 0.5rem;
}
