<div class="content">

  <form class="formDadosClientes">

    <div class="title">
      <h1>Cadastro de Clientes</h1>
    </div>

      
    <div class="dadosCliente">

      <mat-form-field class="form">
        <mat-label>Nome do Cliente</mat-label>
        <input matInput type="text" name="name" placeholder="Nome" [(ngModel)]="cliente.name">
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Observações sobre o Cliente</mat-label>
        <textarea matInput type="text" name="obs" placeholder="Observações" [(ngModel)]="cliente.obs"></textarea>        
      </mat-form-field>

    </div>

    
    <div class="buttons">
      <button class="mat-elevation-z8" mat-stroked-button color="primary">SALVAR </button>
      <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR </button>
    </div>  
    
  </form>

  <mat-list>
    <mat-list-item *ngFor="let endereco of cliente.enderecos" class="enderecos">

      <mat-card class="cardEndereco">
        <mat-card-content>
          <p>Endereço: {{ endereco.rua }}</p>
          <p>Número: {{ endereco.numero }}</p>
          <p>Bairro: {{ endereco.bairro }}</p>
          <!-- Adicione outros campos de endereço, se necessário -->
        </mat-card-content>

        <mat-card-actions>
          <button mat-button color="primary" (click)="atualizarEndereco(endereco)">Editar</button>
          <button mat-button color="warn" (click)="excluirEndereco(endereco)">Excluir</button>
        </mat-card-actions>

      </mat-card>

    </mat-list-item>
  </mat-list>
</div>

  
