.form {
    width: 100%;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-header {
    display: flex;
    justify-content: space-between;
}

.card-endereco {
    width: 90%;
}

.card-endereco-list {
    width: 100%;
}