.form {
    width: 100%;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-header {
    display: flex;
    justify-content: space-between;
}

.enderecos {
    width: 100%;
    margin: 3rem;
}