.inputform {
    width: 100%;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card-cliente {
    background-color: rgb(240, 240, 240);

}

.card-endereco {
    background-color: rgb(240, 240, 240);
}

.cards-header {
    display: flex;
    justify-content: space-between;
}

.card-endereco {
    width: 90%;
}

.card-endereco-list {
    width: 100%;
}