<div class="content">
  <div class="title">
    <h1>Clientes</h1>
  </div>

  <div class="cabecalho">
    <mat-form-field appearance="outline" class="inputName">
      <mat-label>Pesquisar por cliente</mat-label>
      <input matInput name="pesquisaText" placeholder="Informe o nome" (keyup)="applyFilter($event)" />
    </mat-form-field>
    <button mat-button class="cadastrarButton" a (click)="openAddNewCostumerDialog()" mat-raised-button color="accent">
      <mat-icon>add</mat-icon>
      Cadastrar
    </button>
  </div>

  <div class="mat-elevation-z1 content-table">
    <table class="table" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NOME</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="obs">
        <th mat-header-cell *matHeaderCellDef>DESCRIÇÃO</th>
        <td mat-cell *matCellDef="let row">{{ row.obs }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
        <td mat-cell *matCellDef="let row" class="actionsButtonsContainer">
          <button class="actionButton" mat-icon-button color="primary"
            (click)="navegarParaClientesCadastro(row.id )"><mat-icon>open_in_new</mat-icon></button>
          <button class="actionButton" mat-icon-button color="warn"
            (click)="deletarCliente(row.id )"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>